HeartRate.xcodeproj/project.xcworkspace/xcuserdata/alexeyivanov.xcuserdatad/xcdebugger/Expressions.xcexplist
*.xcuserstate
HeartRate.xcodeproj/project.xcworkspace/xcuserdata/alexeyivanov.xcuserdatad/UserInterfaceState.xcuserstate
HeartRate.xcodeproj/xcuserdata/alexeyivanov.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.DS_Store
HeartRate.xcodeproj/xcuserdata/alexeyivanov.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.xcuserstate
